
.demoPage{
  background-color: lightpink!important;
}
#lovealways{
  font-weight: bolder;

}

.video{
  margin-left: 10% !important;
}
.bardisplay{
  display: flex;
}
.reasonBody{
font-size: large;
  line-height: 1.6;
}
.secondbookdiv{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;

}
.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;

}

.reasonTitles{
  text-align: center;
  text-decoration: underline;
  font-weight: bold!important;
}
#coverPageBook{
  background-image: url("bookcover.png");
  background-size: 95px;

}

.navbarbutton{

}
#readbutton{
  color: purple!important;
}

.coverPage{

}

.bdayvideos{
  margin-top: 20%;
}
.listitems, .introtext{
  line-height: 1.6;
  font-size: larger;
  text-color: grey;
}
.secondCard{
  margin-top: 10% ;
}

.firstCard{

}

.article1{
  background-image: url("bookcover.png");
}
AppBar{
position:sticky;
}


.book{

  width: 100%!important;
  border-radius: 40px;
  background-image: url("bookcover.png");

}